
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700|Roboto:400,100,300);
body {
  background: mintcream;
  text-align:center;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin-top:0px;
}

.navbar-default {
  z-index:999;
  border:transparent;
  background:black;
  margin-bottom:-20px;
  .nav.navbar-nav>li {
    margin-right:-20px;
    margin-left:20px;
    font-weight:100;
    a {
      color:white;
    }
    #cart {
      img {
      width:100%;
      max-width:40px;
      }
    }
  }
}
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
    .logo{
      position:absolute;
      max-width:200px;
      top:0px;
      left:0;
      right:0;
      margin:auto;
      img {
        width:100%;
      }
    }
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}
