@import 'mixin';

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700|Roboto:400,100,300);

body {
  // background: mintcream;
  text-align:center;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin-top:0px;
}

// Navbar style
@import 'navbar';
//

.short {
  width:50%;
}
.items {
  .funiture {
       -webkit-transition: all 1s ease;
        //  margin-top:20px;
        .header-bar {
          background:white;
          width:100%;
          position: absolute;
          margin-top:30px;
          z-index:99;
          }
    }
    .funiture:hover {
      -webkit-filter: blur(1px);
    }
  }

.sofas, .beds, .misc, .tables, .lights {
  width:100%;
  img {
    width:100%;
    height:auto;
  }
}

@import 'header';

// Store view
@import 'store-header';
//

.funiture_store {
    position: relative;
    top:10px;
    margin:0 auto;
    width:100%;
  img {
    padding-left:10px;
    width:100%;
    height:200px;
    z-index:929;
  }
  .caption {
    background:white;
    border: 1px solid lightgrey;
  }
}

@media screen and (max-width: 600px) {
  .funiture_store {
      img {
        height:400px;
      }
  }
}

// Footer Style
  @import 'footer';
//

// Bootstrap
  @import 'bootstrap';
